.miya-basket {
    width: 100%;
    .table {
        td {
            vertical-align: middle;
        }
        img {
            max-height: 75px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    } 
}