.miya-basket {
    width: 100%;
    td, th {
        text-align: center;
        vertical-align: middle;
        img {
            max-height: 75px;
        }

        .amount {
            display: flex;
            justify-content: space-around;
            input {
                width: 40px;
                text-align: center;
            }
        }
    }
}