.miya-admin {
    .oreder-list {
        margin: 25px 0;
        td, th {
            text-align: center;
            vertical-align: middle;
            img {
                max-height: 75px;
            }
        }
    }
}